/* .dropdown-menu {
  position: fixed !important;
  z-index: 1500;
} */

/* .dropdown {
  overflow: visible !important;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1050; 
} */

/* CSS tambahan */
.dropup .dropdown-menu {
  top: auto !important;
  bottom: 100% !important;
  transform: translateY(-0.5rem); /* kasih sedikit jarak kalau mau */
}
